html

    head

        meta(content-type="text/html", charset="utf-8")
        title="Fiak News"

        script(src="http://code.jquery.com/jquery-3.5.1.min.js")

        script(src="/script/script.js")

        link(rel="stylesheet" href="/style/style.css")

body

    section#index

        div.searchCard

            img.searchCardTitle(src="images/title.svg")

            div.searchCardInput

                input

                img(src="images/magnifying_glass.svg")