<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="style.css")
        title Fouille
    body
        form(action="/" role="search" onsubmit="event.preventDefault();" method="get")
            input(id="search" type="search" placeholder="Search..." autofocus required)
            button(type="submit") 🔎
    